.navBar-text {
    font-size: 36px;
    color: #50FF44;
}

#bgImg {
    background: url('../img/comic-cover.png');
    width: 292px;
    height: 438px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px solid #343A40;
}

.fz-36 {
    font-size: 36px;
}

.my-badge {
    display: inline-block;
    min-width: 70px;
}

.new-badge {
    background: #50FF44;
}

.all-chapter-text {
    width: 180px;
    height: 45px;
    line-height: 45px;
    font-size: 24px;
    position: absolute;
    top: -45px;
    left: -4px;
}